version: '3'
services:
  osm-seg:
    build:
      context: ./
      dockerfile: Dockerfile
    working_dir: /osm-instance-segmentation
    volumes:
      - ~/dev/osm-instance-segmentation:/osm-instance-segmentation
      - ~/dev/training-data/split:/training-data